:root{
    --blue: #738FD1;
    --pink: #C798C1;
    --semilight: #dfe1e5;
    --grey: #444141;
    --light-grey: #e1e4e6;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--blue);
}

.message-container{
    display: grid;
    padding: 2em;
    background-color: var(--pink);
}
.send-container{
    margin-top: 33%;
    text-align: center;
     
}
.message-input{
    padding: 1em;
    min-width: 22em;
    max-width: auto;
    min-height: 2em;
    max-height: auto;
    text-align: center;
}
button{
    background-color:var(--pink);
    padding: 1em;
}
.right-msg{

    text-align: right;
    font-weight: bold;
}
.center-msg{
    text-align: center;
}
.left-msg{
    font-weight: bold;  
    
}
.message{
    color: var(--blue);
    /* color: cornflowerblue; */
    font-style: Bellota;

}
.time{
    font-weight: 100;
    font-size: 0.5em; 
    opacity: 0.5;
    color: var(--grey);
}
.right-message-container{
    display: inline-block;
    background-color: yellow;
    border-radius: 1em;
    margin: 0.5em;
    padding: 0.5em;
}
.left-message-container{
    display: inline-block;
    background-color:lightgreen;
    border-radius: 1em;
    margin: 0.5em;
    padding: 0.5em;
}